<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <span class="yj-footer-copyright">&copy; YJ | 个人技术博客</span><br>
      <span class="yj-footer-signature">代码即信仰</span><br>
      <% if (theme.copyright){ %>
        <%- render(theme.copyright, 'pug'); %>
      <% } %>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="https://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>
